{
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "semi": false,
  "proseWrap": "always",
  "printWidth": 100,
  "bracketSameLine": false
}
