//
// forms.scss
//

//Custom switch

input[data-switch] {
	@apply hidden;

	+ label {
		@apply select-none bg-none rounded-[2rem] cursor-pointer inline-block text-center relative transition-all ease-in-out bg-gray-200;
		width: 56px;
		height: 24px;

		&:before {
			content: attr(data-off-label);
			@apply block absolute top-0 overflow-hidden text-center transition-all ease-in-out text-gray-500 font-semibold;
			font-family: inherit;
			font-size: 0.75rem;
			line-height: 24px;
			right: 3px;
			top: 0;
			margin: 0 0.21667rem;
			min-width: 1.66667rem;
		}

		&:after {
			content: '';
			@apply absolute rounded-[2rem] bg-gray-500 transition-all ease-in-out;
			left: 4px;
			top: 3px;
			height: 18px;
			width: 18px;
		}
	}

	&:checked {
		+ label {
			@apply bg-primary;

			&:before {
				content: attr(data-on-label);
				right: auto;
				left: 4px;
				@apply text-white;
			}

			&:after {
				left: 34px;
				@apply bg-gray-200;
			}
		}
	}
}

input:disabled {
	+ label {
		@apply opacity-50 cursor-default;
	}
}

input[data-switch='bool'] {
	+ label {
		@apply bg-danger;
	}
}

input[data-switch='bool'] + label:before,
input[data-switch='bool']:checked + label:before {
	color: white !important;
}

input[data-switch='bool'] + label:after {
	@apply bg-gray-200;
}

input[data-switch='primary']:checked + label {
	@apply bg-primary;
}

input[data-switch='secondary']:checked + label {
	@apply bg-secondary;
}

input[data-switch='success']:checked + label {
	@apply bg-success;
}

input[data-switch='danger']:checked + label {
	@apply bg-danger;
}

input[data-switch='warning']:checked + label {
	@apply bg-warning;
}

input[data-switch='info']:checked + label {
	@apply bg-info;
}
